.code-editor {

  // also set in `extensions{[EditorView.theme({ ... })]}`

  .cm-editor {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    transition: all 0.3s, height 0s;

    &:hover {
      border-color: #4096ff;
      border-inline-end-width: 1px;
    }
  }

  .cm-placeholder {
    color: #bfbfbf;
  }

  .cm-focused {
    border-color: #4096ff;
    box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
    border-inline-end-width: 1px;
    outline: 0;

    .cm-selectionBackground {
      background-color: #b3d7fe;
    }
  }

  .cm-selectionBackground {
    background-color: #dcdcdc;
  }

  .cm-gutters {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .cm-gutter,
  .cm-content {
    min-height: var(--minHeight, 600px);
    overflow: auto;
  }

  .cm-line {
    padding-left: 11px;
  }
}

.code-editor-preview {
  min-height: var(--minHeight, 600px);
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 4px 11px;

  >*:last-child {
    margin-bottom: 0 !important;
  }

  >*:first-child {
    margin-top: 0 !important;
  }
}