<!-- tree node template -->
{{- define "treenode" -}}
{{- range . }}
<li class="{{- if gt (len (.Children)) 0 }}has-children{{end}}">
  <div>
    <a href="/{{.Content.Lang}}/docs/{{.Space.Key}}/{{.ID}}" title="{{.Content.Title}}">{{.Content.ShortTitle}}</a>

    {{- if gt (len (.Children)) 0 }}
    <button class="btn btn-sm btn-collapse" data-bs-toggle="collapse" data-bs-target="#page-{{- .ID -}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down icon-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
      </svg>
    </button>
    {{- end }}
  </div>

  {{- if gt (len .Children) 0 }}
  <ul class="collapse show multi-collapse" id="page-{{- .ID -}}">
    {{- template "treenode" .Children }}
  </ul>
  {{- end }}
</li>
{{- end -}}
{{- end -}}

<!-- pagetree template -->
<!-- template accepts a `Pages` argument -->
{{- define "pagetree" -}}
{{- with . -}}
<nav class="pagetree">
  <ul>
    {{- template "treenode" . }}
  </ul>
</nav>
{{- end -}}
{{- end -}}